<!DOCTYPE html>
<html>
  <head>
    <title>PotLuck</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/draft_nav' %>
    <%= yield %>
    <%= yield :javascript %>
  </body>
</html>
